@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
        scrollbar-width: none; /* For Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }
}